<div class="modal-backdrop" (click)="close()">
  <div class="modal-window">
    <button class="previous-button" (click)="$event.stopPropagation()" (click)="prev()" [disabled]="startIndex == currentSrcIndex">
      <img class="button-arrow-image" src="assets/shared/big_left_arrow.png">
    </button>
    <div class="modal-content">
      <div class="image-frame">
        <div class="close-button">
          <span class="close" (click)="close()">&times;</span>
        </div>
        <img [src]="images[currentSrcIndex]" (click)="$event.stopPropagation()" alt="Image">
      </div>
    </div>
    <button class="next-button" (click)="$event.stopPropagation()" (click)="next()" [disabled]="currentSrcIndex == endIndex">
      <img class="button-arrow-image" src="assets/shared/big_right_arrow.png">
    </button>
  </div>
</div>