<div class="modal-backdrop" (click)="close()">
  <div class="modal-window">
    <div class="close-button">
      <span class="close" (click)="close()">&times;</span>
    </div>
    <div class="content-window">
        <img class="previous-button" *ngIf="startIndex != currentSrcIndex" src="assets/images/icons/big_left_arrow_white.png" (click)="$event.stopPropagation(); prev()">
        <img class="previous-button" *ngIf="startIndex == currentSrcIndex" src="assets/images/icons/big_left_arrow_grey.png" (click)="$event.stopPropagation(); prev()">
      <div class="image-frame">
        <img [src]="images[currentSrcIndex]" (click)="$event.stopPropagation()" alt="Image">
      </div>
        <img class="next-button" *ngIf="endIndex != currentSrcIndex" src="assets/images/icons/big_right_arrow_white.png" (click)="$event.stopPropagation(); next()">
        <img class="next-button" *ngIf="endIndex == currentSrcIndex" src="assets/images/icons/big_right_arrow_grey.png" (click)="$event.stopPropagation(); next()">
    </div>
  </div>
</div>