<div class="mt-4 flex flex-col gap-8 overflow-x-hidden md:mt-28 md:gap-16">
  <project-card
    [projectName]="'gestor_facturas'"
    [isInverted]="false"
  ></project-card>

  <project-card [projectName]="'ludoteca'" [isInverted]="true"></project-card>

  <project-card
    [projectName]="'automatizacion_procesos_departamentales'"
    [isInverted]="false"
  ></project-card>

  <project-card
    [projectName]="'test_capitales'"
    [isInverted]="true"
  ></project-card>

  <project-card
    [projectName]="'juego_sinonimos'"
    [isInverted]="false"
  ></project-card>
</div>
