<div
  class="maintenance-image-container flex h-full items-center bg-cover bg-no-repeat"
>
  <div
    class="m-auto flex h-auto w-auto flex-col items-center justify-center gap-2 align-middle"
  >
    <div class="flex w-full items-center justify-center">
      <img
        class="w-[80vw] max-w-[512px]"
        src="../../../assets/images/background/maintenance.png"
      />
    </div>
    <p class="text-outline text-center text-6xl font-extrabold text-black">
      SITIO WEB EN DESARROLLO
    </p>
  </div>
</div>
