/* Enter animations */

.enter-anim-right {
  z-index: 10;
  transition: display;
  animation: enter-anim-right 0.7s;
}

@keyframes enter-anim-right {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
  }
}

.enter-anim-left {
  z-index: 10;
  transition: display;
  animation: enter-anim-left 0.7s;
}

@keyframes enter-anim-left {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
  }
}

/* Exit animations */

.exit-anim {
  transition: display;
  animation: exit-anim 0.4s forwards;
}

@keyframes exit-anim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
