<div
  class="relative flex h-full max-h-full w-full max-w-full items-center justify-center"
>
  <div
    class="flex h-auto max-h-full w-full max-w-full flex-col items-center justify-center"
  >
    <div
      class="leave-container inline-flex max-h-full max-w-full items-center justify-center"
    >
      @for (imgSrc of this.images; track imgSrc) {
        @if (imgSrc === this.currentPreviewImage) {
          <img
            #img
            class="absolute z-0 max-h-full max-w-full cursor-pointer justify-center rounded object-contain hover:blur-[0.75px]"
            src="{{ imgSrc }}"
            (click)="this.openPreviewedImage()"
            (mouseenter)="isHovered = true"
            (mouseleave)="isHovered = false"
            (animationend)="this.updateOverlay(imgSrc)"
            [ngClass]="
              !this.isInverted ? 'enter-anim-right' : 'enter-anim-left'
            "
          />
        }
        <img
          class="absolute z-0 max-h-full max-w-full cursor-pointer justify-center rounded object-contain hover:blur-[0.75px]"
          src="{{ imgSrc }}"
          (click)="this.openPreviewedImage()"
          (mouseenter)="isHovered = true"
          (mouseleave)="isHovered = false"
          [ngClass]="
            imgSrc === this.previousPreviewImage ? 'exit-anim' : 'hidden'
          "
        />
      }
    </div>
  </div>
  <span
    class="pointer-events-none absolute inset-0 z-10 flex items-center justify-center transition-opacity duration-500"
    [ngStyle]="this.spanOverlayStyle"
    [ngClass]="isHovered ? 'opacity-100' : 'opacity-0'"
  >
    <img
      #magnIcon
      class="z-20 h-1/6"
      src="../../../../../assets/images/icons/search_icon_white.png"
      [ngClass]="this.isDarkMode() ? '' : 'hidden'"
    />
    <img
      #magnIcon
      class="z-20 h-1/6"
      src="../../../../../assets/images/icons/search_icon_black.png"
      [ngClass]="this.isDarkMode() ? 'hidden' : ''"
    />
  </span>
</div>
