<div class="relative h-12 w-12 align-middle">
  <img
    class="absolute inset-0 left-0 top-0 m-auto h-auto max-h-[36px] w-auto max-w-[36px] flex-none cursor-pointer"
    [ngClass]="darkModeService.isDarkMode() ? 'appearing' : 'leaving'"
    src="../../../../assets/images/icons/darkmode_sun_white_big_test.png"
    (click)="darkModeService.toggleDarkMode()"
  />
  <img
    class="absolute inset-0 m-auto h-auto max-h-[36px] w-auto max-w-[36px] flex-none cursor-pointer"
    [ngClass]="darkModeService.isDarkMode() ? 'leaving' : 'appearing'"
    src="../../../../assets/images/icons/darkmode_moon_black_big.png"
    (click)="darkModeService.toggleDarkMode()"
  />
</div>
