<div class="project-container">
    <div class="project-title-container">
        <p>{{'projects.project_1.name' | translate}}</p>
    </div>
    <div class="project-body-container">
        <div class="project-description-container">
            <p>{{'projects.project_1.description' | translate}}</p>
        </div>
        <div class="project-info-container">
            <div class="project-frameworks-container">
                <p>{{'projects.project_1.frameworks' | translate}}</p>
            </div>
            <div class="project-otherinfo-container">
                <div class="project-year">
                    <u>{{'projects.project_1.year_label' | translate}}</u>
                    <p>{{'projects.project_1.year' | translate}}</p>
                </div>
                <div class="project-duration">
                    <u>{{'projects.project_1.duration_label' | translate}}</u>
                    <p>{{'projects.project_1.duration' | translate}}</p>
                </div>
                <div class="project-tools">
                    <u>{{'projects.project_1.tools_label' | translate}}</u>
                    <p>{{'projects.project_1.tools' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="project-images-container">
        <div class="image-left-arrow">

        </div>
        <div class="images-gallery">

        </div>
        <div class="image-right-arrow">

        </div>
    </div>
</div>