.enter-animation-right {
  animation: slide-in-right 0.4s;
}

@keyframes slide-in-right {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
  }
}

.enter-animation-left {
  animation: slide-in-left 0.4s;
}

@keyframes slide-in-left {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
  }
}

.exit-animation-right {
  animation: slide-out-right 0.9s;
}

@keyframes slide-out-right {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
    z-index: 0;
  }
}

.exit-animation-left {
  animation: slide-out-left 0.9s;
}

@keyframes slide-out-left {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
    z-index: 0;
  }
}
