<nav
  class="relative m-3 flex h-12 justify-end rounded text-[length:--sm-font-size-navbar] md:text-[length:--md-font-size-navbar] lg:text-[length:--lg-font-size-navbar] xl:text-[length:--xl-font-size-navbar]"
>
  <div class="mx-4 flex">
    <a
      class="cursor-pointer self-center text-black dark:text-white"
      href="/about"
      [innerHTML]="'navigation_bar.about_me' | translate"
    ></a>
  </div>
  <div class="mx-4 flex">
    <a
      class="cursor-pointer self-center text-black dark:text-white"
      href="/projects"
      [innerHTML]="'navigation_bar.projects' | translate"
    ></a>
  </div>
  <div class="flex items-center">
    <app-dark-mode-toggle
      [width]="getToggleWidth(resize$ | async)"
      [height]="getToggleHeight(resize$ | async)"
    ></app-dark-mode-toggle>
  </div>
  <div ngbDropdown container="body" class="overflow-hidden">
    <button
      type="button"
      class="btn btn-outline-primary btn-sm"
      [style.height.px]="'500px'"
      ngbDropdownToggle
    >
      Actions
    </button>
    <div ngbDropdownMenu class="absolute flex flex-col">
      <button ngbDropdownItem>Edit</button>
      <button ngbDropdownItem>Duplicate</button>
      <button ngbDropdownItem>Move</button>
      <div class="dropdown-divider"></div>
      <button ngbDropdownItem>Delete</button>
    </div>
  </div>
</nav>
