<div
  class="fixed left-0 top-0 z-50 flex h-full w-full justify-center bg-opacity-40 dark:bg-black dark:bg-opacity-80"
  (click)="close()"
>
  <!-- X BUTTON -->
  <div
    class="fixed right-5 top-5 cursor-pointer text-4xl font-semibold text-black dark:text-white md:text-5xl lg:text-7xl xl:text-8xl"
  >
    <p (click)="close()">&times;</p>
  </div>
  <div class="grid h-full w-[80vw] grid-cols-1 grid-rows-[1fr] items-center">
    <div class="grid-cols[0.2fr_2fr_0.2fr] col-start-1 grid h-auto w-[80vw]">
      <!-- LEFT ARROW -->
      <div
        class="col-start-1 flex w-full justify-center self-center overflow-hidden"
      >
        <p
          class="block cursor-pointer select-none self-end text-[length:--sm-arrows-size] md:text-[length:--md-arrows-size]"
          (click)="$event.stopPropagation(); prev()"
          [ngClass]="
            startIndex != currentSrcIndex
              ? '!text-black dark:!text-white'
              : '!text-gray-500'
          "
        >
          &#60;
        </p>
      </div>

      <!-- IMAGE -->
      <div class="col-start-2 flex h-auto w-[60vw] justify-center self-center">
        <img
          class="max-h-[100%] max-w-full object-contain"
          [src]="images[currentSrcIndex]"
          (click)="$event.stopPropagation()"
          alt="Image"
        />
      </div>

      <!-- RIGHT ARROW -->
      <div
        class="col-start-3 flex w-full justify-center self-center overflow-hidden"
      >
        <p
          class="block cursor-pointer select-none self-start text-[length:--sm-arrows-size] md:text-[length:--md-arrows-size]"
          (click)="$event.stopPropagation(); next()"
          [ngClass]="
            endIndex != currentSrcIndex
              ? '!text-black dark:!text-white'
              : '!text-gray-500'
          "
        >
          &#62;
        </p>
      </div>
    </div>
  </div>
</div>
