<div
  class="fixed left-0 top-0 z-50 flex h-full w-full justify-center bg-white bg-opacity-40 dark:bg-black dark:bg-opacity-80"
  (click)="close()"
>
  <div
    class="fixed right-28 top-28 cursor-pointer text-5xl text-black dark:text-white"
  >
    <p (click)="close()">&times;</p>
  </div>
  <div class="grid h-full w-[80vw] grid-cols-1 grid-rows-[1fr] items-center">
    <div class="grid-cols[0.2fr_2fr_0.2fr] col-start-1 grid h-auto w-[80vw]">
      <!-- LEFT ARROW -->
      <div
        class="col-start-1 flex w-full justify-end self-center overflow-hidden"
      >
        <img
          class="block w-16 cursor-pointer self-end dark:hidden"
          *ngIf="startIndex != currentSrcIndex"
          src="assets/images/icons/big_left_arrow_black.png"
          (click)="$event.stopPropagation(); prev()"
        />

        <!-- dark mode -->
        <img
          class="hidden w-16 cursor-pointer self-end dark:block"
          *ngIf="startIndex != currentSrcIndex"
          src="assets/images/icons/big_left_arrow_white.png"
          (click)="$event.stopPropagation(); prev()"
        />

        <!-- If it's the first image it cannot go to the left again: it greys out and disables itself. -->
        <img
          class="w-16 self-end"
          *ngIf="startIndex == currentSrcIndex"
          src="assets/images/icons/big_left_arrow_grey.png"
          (click)="$event.stopPropagation(); prev()"
        />
      </div>

      <!-- IMAGE -->
      <div class="col-start-2 flex h-auto w-[60vw] justify-center self-center">
        <img
          class="max-h-[100%] max-w-full object-contain"
          [src]="images[currentSrcIndex]"
          (click)="$event.stopPropagation()"
          alt="Image"
        />
      </div>

      <!-- RIGHT ARROW -->
      <div
        class="col-start-3 flex w-full justify-start self-center overflow-hidden"
      >
        <img
          class="block w-16 cursor-pointer self-end dark:hidden"
          *ngIf="endIndex != currentSrcIndex"
          src="assets/images/icons/big_right_arrow_black.png"
          (click)="$event.stopPropagation(); next()"
        />
        <!-- dark mode -->
        <img
          class="hidden w-16 cursor-pointer self-end dark:block"
          *ngIf="endIndex != currentSrcIndex"
          src="assets/images/icons/big_right_arrow_white.png"
          (click)="$event.stopPropagation(); next()"
        />
        <!-- If it's the last image it cannot go to the right again: it greys out and disables itself. -->
        <img
          class="w-16 self-end"
          *ngIf="endIndex == currentSrcIndex"
          src="assets/images/icons/big_right_arrow_grey.png"
          (click)="$event.stopPropagation(); next()"
        />
      </div>
    </div>
  </div>
</div>
