.gallery-image {
  transition: transform 0.4s cubic-bezier(.4,0,.2,1);
  will-change: transform;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.gallery-image-container {
  width: 15vw;
  height: 15vh;
  display: grid;
  place-items: center;
  overflow: hidden;
}