<div class="project-container">
    <!-- <div class="project-top"> -->
        <div class="project-title-container">
            <p [innerHTML]="this.projectPrefix + '.name' | translate"></p>
            <div *ngIf="doJsonKeyExists('github')">
                <a href="{{this.projectPrefix + '.github' | translate}}">
                    <img class="github-icon" src="https://cdn-icons-png.flaticon.com/256/25/25231.png">
                </a>
            </div>
        </div>
        <div class="project-body-container">
            <div class="project-description-container">
                <p [innerHTML]="this.projectPrefix + '.description' | translate"></p>
            </div>
            <div class="project-info-container">
                <div class="project-frameworks-container">
                    <p [innerHTML]="this.projectPrefix + '.frameworks' | translate"></p>
                </div>
                <div class="project-otherinfo-container">
                    <div class="project-year">
                        <u>{{this.defaultsPrefix + '.year_label' | translate}}</u>
                        <p>{{this.projectPrefix + '.year' | translate}}</p>
                    </div>
                    <div class="project-duration">
                        <u>{{this.defaultsPrefix + '.duration_label' | translate}}</u>
                        <p>{{this.projectPrefix + '.duration' | translate}}</p>
                    </div>
                    <div class="project-tools">
                        <u>{{this.defaultsPrefix + '.tools_label' | translate}}</u>
                        <p>{{this.projectPrefix + '.tools' | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
    <app-image-gallery [maxNumItems]="this.jsonProject['imagesPerRow']" [images]="this.projectPrefix + '.images' | translate"></app-image-gallery>
</div>