@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --min-font-size-title: 0.4rem;
  --sm-font-size-title: 0.6rem;
  --md-font-size-title: 0.85rem;
  --lg-font-size-title: 1.1rem;
  --xl-font-size-title: 1.35rem;

  --min-font-size-normal-text: 0.3rem;
  --sm-font-size-normal-text: 0.5rem;
  --md-font-size-normal-text: 0.75rem;
  --lg-font-size-normal-text: 1rem;
  --xl-font-size-normal-text: 1.25rem;
}

html,
body {
  height: 100%;
}
body {
  --font-color: white;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
