@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sm-font-size-title: 0.6rem;
  --md-font-size-title: 0.85rem;
}

html,
body {
  height: 100%;
}
body {
  --font-color: white;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
