<!-- gallery.component.html -->
<div class="gallery">
  <button class="arrow-button" *ngIf="this.arrowsNeeded" (click)="prev()" [disabled]="startIndex === 0">
    <img src="assets/images/icons/big_left_arrow_white.png">
  </button>
  
  <div class="gallery-images">
    <div class="gallery-image-container" *ngFor="let img of visibleImages">
      <img class="gallery-image" [src]="img" (click)="sendImage(img)"/>
    </div>
  </div>
  <button class="arrow-button" *ngIf="this.arrowsNeeded" (click)="next()" [disabled]="endIndex >= images.length">
    <img src="assets/images/icons/big_right_arrow_white.png">
  </button>
</div>