<app-navbar></app-navbar>
<project-card
  [projectName]="'gestor_facturas'"
  [isInverted]="false"
  class="md:px-12 md:py-20"
></project-card>

<project-card
  [projectName]="'ludoteca'"
  [isInverted]="true"
  class="md:px-12 md:py-20"
></project-card>

<project-card
  [projectName]="'automatizacion_procesos_departamentales'"
  [isInverted]="false"
  class="md:px-12 md:py-20"
></project-card>

<project-card
  [projectName]="'test_capitales'"
  [isInverted]="true"
  class="md:px-12 md:py-20"
></project-card>

<project-card
  [projectName]="'juego_sinonimos'"
  [isInverted]="false"
  class="md:px-12 md:py-20"
></project-card>
